<ion-view title="DENUNCIAS" id="page5">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.formalizaO()" id="dENUNCIAS-button25" class="button button-positive button-block">LIXO</a>
    <a ui-sref="menu.formalizaO()" id="dENUNCIAS-button26" class="button button-positive button-block">ILUMINAÇÃO</a>
    <a ui-sref="menu.formalizaO()" id="dENUNCIAS-button27" class="button button-positive button-block">RUAS</a>
    <a ui-sref="menu.formalizaO()" id="dENUNCIAS-button28" class="button button-positive button-block">SINALIZAÇÕES</a>
    <a ui-sref="menu.formalizaO()" id="dENUNCIAS-button29" class="button button-positive button-block">VAZAMENTOS</a>
    <a ui-sref="menu.formalizaO()" id="dENUNCIAS-button30" class="button button-positive button-block">ESGOTO</a>
    <a ui-sref="menu.formalizaO()" id="dENUNCIAS-button31" class="button button-positive button-block">BARULHO</a>
    <a ui-sref="menu.formalizaO()" id="dENUNCIAS-button32" class="button button-positive button-block">AGLOMERAÇÃO</a>
    <a ui-sref="menu.formalizaO()" id="dENUNCIAS-button33" class="button button-positive button-block">FOGO</a>
  </ion-content>
</ion-view>