<ion-view title="Formalização" id="page4">
  <ion-content padding="true" class="has-header">
    <button id="formalizaO-button42" ng-click="tirarFoto()" class="button button-positive button-block">Foto!</button>
    <div>
      <img src="{{imgURI}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="formalizaO-form2" class="list">
      <h1 id="formalizaO-heading1" style="color:#000000;text-align:center;">Heading</h1>
      <label class="item item-input textarea">
        <span class="input-label"></span><textarea rows="10" cols="33" placeholder="Digite sua denuncia"></textarea></label>
      <label class="item item-input" id="formalizaO-input2">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <ion-checkbox id="formalizaO-checkbox1">possui whatsapp ?</ion-checkbox>
      <ion-checkbox id="formalizaO-checkbox2">Checkbox</ion-checkbox>
      <div id="formalizaO-button-bar4" class="button-bar">
        <button id="formalizaO-button39" class="button button-positive button-block botao">1</button>
        <button id="formalizaO-button41" class="button button-positive button-block botao">3</button>
      </div>
    </form>
  </ion-content>
</ion-view>