<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/sOIPSLMFTlCOQc6qRSvw_aruja.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">adwadwddddddfeefeswbaewebavwaevaw adwadwddddddfeefeswbaewebavwaevaw adwadwddddddfeefeswbaewebavwaevaw adwadwddddddfeefeswbaewebavwaevaw adwadwddddddfeefeswbaewebavwaevaw adwadwddddddfeefeswbaewebavwaevaw adwadwddddddfeefeswbaewebavwaevaw adwadwddddddfeefeswbaewebavwaevaw
      </p>
    </div>
    <div id="home-button-bar3" class="button-bar">
      <button id="home-button19" style="font-weight:600;font-size:10px;" class="button button-positive button-block botao">Solicitações</button>
      <button id="home-button20" class="button button-positive button-block botao">Ideias</button>
      <a ui-sref="menu.dENUNCIAS()" id="home-button21" style="font-weight:600;font-size:10px;" class="button button-positive button-block botao">Denuncias</a>
    </div>
  </ion-content>
</ion-view>